@import "mixin";


/* /////////////////////////////////////////////////////
  Top
//////////////////////////////////////////////////////*/
#top{
  width: 100vw;
  height: 95vh;

  nav{
    @include L {
      bottom: 10vh;
    }
  }

}/*-- /#top --*/

.outline01{
	width: 95vw;
	height: 90vh;
	margin: 5vh auto;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	overflow: hidden;
	// border: solid 1px $base-color;
	&::before{
		content: "";
		width: 100%;
		height: 1px;
		margin: auto;
		position: absolute;
		top: 0;
		right: 100%;
		background-color: $base-color;
		transition: 1s;
	}
	&::after{
		content: "";
    width: 1px;
    height: 100%;
		margin: auto;
    position: absolute;
		bottom: 95vh;
    right: 0;
    background-color: $base-color;
    transition: 1s;
		transition-delay: 1s;
	}
}

.outline02{
	width: 95vw;
	height: 90vh;
	margin: 5vh auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	overflow: hidden;
	// border: solid 1px $base-color;
	&::before{
		content: "";
		width: 100%;
		height: 1px;
		margin: auto;
		position: absolute;
		bottom: 0;
		left: 100%;
		background-color: $base-color;
		transition: 1s;
	}
	&::after{
		content: "";
		width: 1px;
		height: 100%;
		margin: auto;
		position: absolute;
		top: 95vh;
		left: 0;
		background-color: $base-color;
		transition: 1s;
		transition-delay: 1s;
	}
}

.top-line{
	&:before{
		right: 0;
	}
}

.right-line{
	&:after{
		bottom: 0;
	}
}

.bottom-line{
	&:before{
		left: 0;
	}
}

.left-line{
	&:after{
		top: 0;
	}
}

#ttlWrap{
  text-align: center;
  width: 218px;
  height: 20vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  p{
    font-size: 1.2rem;
    letter-spacing: .5px;
    letter-spacing: .05rem;
    color: $base-color;
    width: 130px;
    margin: 0 auto;
    position: relative;
    @include M {
      font-size: 1.5rem;
      width: 150px;
    }
    &::before {
      content: "";
      border-bottom: solid 1px $base-color;
      top: 15px;
      left: -20px;
      position: absolute;
      width: 30px;
    }
    &::after {
      content: "";
      border-bottom: solid 1px $base-color;
      top: 15px;
      right: -20px;
      position: absolute;
      width: 30px;
    }
  }
  .name-ja{
    line-height: 4rem;
    margin: 0 0 10px;
    @include M {
      line-height: 6rem;
      margin: 15px 0;
    }
  }
  .name-en{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    @include M {
      font-size: 1.6rem;
    }
  }
}/*-- div#titleWrap --*/

nav{
  width: 700px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  @include other-PC {
    position: fixed;
    top: -100%;
    width: 100%;
    text-align: center;
    height: 100%;
    z-index: 99;
    background: rgba(255, 255, 255, .9);
  }
  ul{
    @include other-PC {
      height: 509px;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    li{
      list-style: none;
      @include other-PC {
        margin: 50px auto;
      }
      @include L {
        display: inline-block;
        &:not(:first-child){
          margin-left: 50px;
        }
      }
      a{
        transition: .3s;
        text-decoration: none;
        letter-spacing: 0.05em;
      }
    }
  }
}/*-- /nav --*/

#copyright{
  font-size: .8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  @include L {
    width: 405px;
    bottom: 5px;
    font-size: 1.2rem;
  }
}

#arrowWrap{
  text-align: -webkit-center;
  color: #ccc;
  width: 50px;
  top: 70vh;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  /*transition: 5s;
  -webkit-transition: 5s;
  -moz-transition: 5s;*/
  // span{
  //   display: block;
  //   transform: rotate(-45deg);
  //   -webkit-transform: rotate(-45deg);
  //   -moz-transform: rotate(-45deg);
  // }
  @include S {
    top: 65vh;
  }
  span{
    @include S {
      font-size: 1rem;
    }
  }.fa{
    font-size: 50px;
    color: $font-color;
    @include S {
      font-size: 25px;
    }
  }
  #arrow{
    width: 30px;
    height: 30px;
    /*transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);*/
    animation: arrow 3s ease-out infinite;
    -webkit-animation: arrow 3s ease-out infinite;
    -moz-animation: arrow 3s ease-out infinite;
  }
}

@keyframes arrow{
  0%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    opacity: 0;
  }
  20%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    opacity: 1;
  }
  50%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    opacity: 0;
  }
}

// div.humberger-icon{
//   width: 50px;
//   height: 80px;
//   position: fixed;
//   top: 5vh;
//   right: 5vw;
//
// }
div.humberger-icon {
  width: 30px;
  height: 30px;
  display: block;
  position: fixed;
  right: 5vw;
  top: 6vh;
  z-index: 100;
  cursor: pointer;
  @include L {
    display: none;
  }
  span{
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: $base-color;
    transition: 0.5s;
    position: relative;
    left: 5px;
    top: 14px;
  }
  .top {
    animation: humberger-top .5s;
    animation-fill-mode: forwards;
  }
  .middle {
    transition: .5s opacity;
    transform: translateY(-1px);
    opacity: 1;
  }
  .bottom {
    animation: humberger-bottom .5s;
    animation-fill-mode: forwards;
  }
}
.humberger-icon.is-open {
  .middle {
    opacity: 0;
    transition: .5s opacity;
  }
  .top {
    animation: humberger-top-close .5s;
    animation-fill-mode: forwards;
  }
  .bottom {
    animation: humberger-bottom-close .5s;
    animation-fill-mode: forwards;
  }
}
@keyframes humberger-top {
  0% {
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-7px) rotate(0deg);
  }
}

@keyframes humberger-bottom {
  0% {
    transform: translateY(-1px) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(5px) rotate(0deg);
  }
}

@keyframes humberger-top-close {
  0% {
    transform: translateY(-7px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(2px) rotate(-45deg);
  }
}

@keyframes humberger-bottom-close {
  0% {
    transform: translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-2px) rotate(45deg);
  }
}

.omusubi{
  display: none;
  width: 50px;
  height: auto;
  position: absolute;
  top: 4px;
  left: -50px;
  animation: omusubi 30s linear 0.5s infinite;
  transform-origin: center;
    @include other-PC {
      display: none;
    }

    img{
      width: 100%;
      height: auto;
    }
  }

@keyframes omusubi {
  0%{
    transform: rotateZ(0);
    left: -50px;
    top: 4px;
  }
  6%{
    transform: rotateZ(60deg);
    left: -25px;
    top: 0;
  }
  10%{
    transform: rotateZ(120deg);
    left: 0px;
    top: 10px;
  }
  12%{
    transform: rotateZ(120deg);
    left: 0px;
    top: 10px;
  }
  16%{
    transform: rotateZ(160deg);
    left: 25px;
    top: 0px;
  }
  20%{
    transform: rotateZ(240deg);
    left: 50px;
    top: 10px;
  }
  22%{
    transform: rotateZ(240deg);
    left: 50px;
    top: 10px;
  }
  26%{
    transform: rotateZ(300deg);
    left: 75px;
    top: -5px;
  }
  30%{
    transform: rotateZ(360deg);
    left: 100px;
    top: 4px;
  }
  32%{
    transform: rotateZ(360deg);
    left: 100px;
    top: 4px;
  }
  36%{
    transform: rotateZ(420deg);
    left: 125px;
    top: -5px;
  }
  40%{
    transform: rotateZ(480deg);
    left: 150px;
    top: 10px;
  }
  42%{
    transform: rotateZ(480deg);
    left: 150px;
    top: 10px;
  }
  46%{
    transform: rotateZ(540deg);
    left: 175px;
    top: -11px;
  }
  50%{
    transform: rotateZ(600deg);
    left: 200px;
    top: 10px;
  }
  52%{
    transform: rotateZ(600deg);
    left: 200px;
    top: 10px;
  }
  56%{
    transform: rotateZ(660deg);
    left: 225px;
    top: -11px;
  }
  60%{
    transform: rotateZ(720deg);
    left: 250px;
    top: 4px;
  }
  62%{
    transform: rotateZ(720deg);
    left: 250px;
    top: 4px;
  }
  66%{
    transform: rotateZ(780deg);
    left: 275px;
    top: -5px;
  }
  70%{
    transform: rotateZ(840deg);
    left: 300px;
    top: 10px;
  }
  72%{
    transform: rotateZ(840deg);
    left: 300px;
    top: 10px;
  }
  76%{
    transform: rotateZ(900deg);
    left: 325px;
    top: -11px;
  }
  80%{
    transform: rotateZ(960deg);
    left: 350px;
    top: 10px;
  }
  82%{
    transform: rotateZ(960deg);
    left: 350px;
    top: 10px;
  }
  86%{
    transform: rotateZ(1020deg);
    left: 375px;
    top: -11px;
  }
  90%{
    transform: rotateZ(1080deg);
    left: 400px;
    top: 4px;
  }
  92%{
    transform: rotateZ(1080deg);
    left: 400px;
    top: 4px;
  }
  96%{
    transform: rotateZ(1140deg);
    left: 425px;
    top: -5px;
  }
  100%{
    transform: rotateZ(1200deg);
    left: 450px;
    top: 10px;
  }
}

/* /////////////////////////////////////////////////////
  footer
//////////////////////////////////////////////////////*/
footer{
  background: lighten($base-color, 5%);
  text-align: center;
  padding: 10px 0;
  p{
    color: #fff;
    @include S {
      font-size: 1rem;
    }
  }
}




/* /////////////////////////////////////////////////////
  Common
//////////////////////////////////////////////////////*/
.container{
  width: 90%;
  margin: 100px 5% 50px;
  @include L {
    width: 768px;
    margin: 250px auto;
  }
}

header{
  width: 100%;
  height: 70px;
  z-index: 97;
  position: fixed;
  top: 0;
  left: 0;
  @include L {
    transition: .7s;
    background: rgba(255, 255, 255, .8);
  }
  .nav{
    @include L {
      margin: 20px auto;
    }
  }
}

.section-ttl,
.section-ttl span{
  color: $base-color;
  font-size: 5rem;
  margin-bottom: 80px;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
  @include M {
    font-size: 7rem;
  }
}

.section-ttl::after {
	position: absolute;
	left: 0;
  right: 0;
	bottom: 0;
	content: '';
	width: 50px;
	height: 0;
	border-bottom: 4px double #ccc;
  margin: auto;
}
.ttl{
  font-size: 3rem;
  @include M {
    font-size: 5rem;
  }
}
.none,
.fade{
  opacity: 0;
}
.active-li{
  color: $base-color;
  letter-spacing: 0.05em;
  cursor: default;
}
.nav-open{
  top: 0 !important;
}
.vt{
  vertical-align: top;
}
.textRight{
  text-align: right;
  margin-top: 15px;
}
