@charset "UTF-8";
@import "base";
@import "common";


/* /////////////////////////////////////////////////////
  family
//////////////////////////////////////////////////////*/

#family,#gallery{
  #contents{
    width: 90%;
  }
}

/* /////////////////////////////////////////////////////
  works
//////////////////////////////////////////////////////*/
#works{
  #contents{
    width: 90%;
    position: relative;
  }
}
$img-sizeS: 130px;
$img-sizeM: 300px;
$img-sizeL: 620px;

.m-gallery {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 150px;
  .thumbnail {
    margin: 10px;
    width: $img-sizeM;
    overflow: hidden;
    text-align: center;
    @include S{
      width: 120px;
      margin: 5px;
    }
    p.caption{
      width: $img-sizeM;
    }
  }
  .thumbnail.x2{
    width: 130px;
    p.caption{
      width: $img-sizeS;
    }
  }
  .thumbnail.x3 {
    p.caption{
      width: $img-sizeL;
    }
  }
  .thumbnail img {
    width: 100%;
  }
  a{
    text-decoration: none;
  }
  img{
    transition: .2s;
  }
  .caption{
		width: 100%;
    padding: 10px 0;
    line-height: 1.8rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    background: #fff;
    color: $font-color;
    transition: .3s;
    bottom: -100%;
    @include S {
      display: none;
    }
  }
}

.thumbnail{
  opacity: 0;
  position: relative;
}
#works{
  .thumbnail {
    border: 1px solid $base-color;
  }
}

#family,
#gallery{
  .thumbnail {
    transition: .2s;
    &:hover {
      filter: alpha(0.6);
    }
  }
}





/* /////////////////////////////////////////////////////
  profile
//////////////////////////////////////////////////////*/

.section-inner{
  .section-ttl{
  }
  p{
    text-align: center;
  }
  p{
    font-size: 1rem;
    line-height: 2rem;
    @include M {
      font-size: 1.4rem;
      line-height: 3rem;
    }
    @include L {
      font-size: 1.8rem;
      line-height: 4rem;
    }
  }
}

section{
  .profile-img{
    display: block;
    width: 250px;
    height: auto;
    // filter: grayscale(100%) brightness(105%);
    margin: 0 auto;
  }
  div#profileText{
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    @include M {
      width: 455px;
    }
    td{
      @include S {
        font-size: 1.2rem;
      }
      @include M {
        font-size: 1.5rem;
      }
    }
  }
  &:not(:first-child){
    margin-top: 200px;
  }
}/*-- /div.#profile --*/

/*/////////////////////////////////////////////////////
  contact
//////////////////////////////////////////////////////*/

form{
  width: 285px;
  margin: 0 auto;
  @include M {
    width: 450px;
  }
  p{
    margin-top: 15px;
    width: 100%;
    @include S {
      font-size: 1.2rem;
    }
    @include M {
      margin-top: 20px;
      width: 450px;
    }
    &:nth-child(4){
      display: inline-block;
    }
    &:last-child{
      text-align: center;
      margin-top: 20px;
    }
    label{
      font-weight: bold;
      width: 85px;
      @include M {
        width: 150px;
      }
    }
    input[type="button"],input[type="text"],input[type="submit"],textarea {
       -webkit-appearance: none;
       border-radius: 5px;
    }
    input[type="text"], textarea {
      line-height: 3rem;
      padding: 0 8px;
      border: none;
    }
    input[type="text"] {
      @include S {
        width: 185px;
      }
    }
    input[type="submit"]{
      border: none;
      background: $base-color;
      color: #fff;
      width: 150px;
      line-height: 4.5rem;
      font-size: 1.7rem;
      letter-spacing: 0.2rem;
      &:hover{
        background: lighten($base-color, 10%);
        cursor: pointer;
      }
    }
    textarea{
      margin-top: 10px;
      border: solid 1px rgb(128, 208, 157);
      width: 267px;
      @include M {
        width: 432px;
      }
    }
    input[type="radio"]{
      margin-left: 30px;
      margin-right: 10px;
    }
  }/*-- /p --*/
  .underLine{
    display: flex;
  }
  .underLine::after{
    content: "";
    left: 0;
    right: 0;
    margin: 32px auto 0;
    position: absolute;
    border-bottom: solid 1px #80d09d;
    height: 0;
    width: 285px;
    @include M {
      width: 432px;
    }
  }
}/*-- /form --*/
